<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>ClamAV Scan Report</title>
	<meta name="generator" content="clamav.rb">
	<meta name="author" content="Dan Lynn">
	<link rel="stylesheet" href="../views/css/clamav.css" type="text/css" media="screen" charset="utf-8">
	<link type="text/css" href="../views/css/smoothness/jquery-ui-1.7.2.custom.css" rel="stylesheet" />
	<script type="text/javascript" src="../views/js/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="../views/js/jquery-ui-1.7.2.custom.min.js"></script>
	<script type="text/javascript">
	$(function() {
		$("#accordion").accordion();
	});
	</script>
</head>
<body>
    <h1>Scan Report</h1>
	<div class="heading_date"><%= scan.complete.strftime("%a, %B %d %Y") %></div>
	
	<%= field("scan directory", :dir) %>
	<%= field("duration", distance_of_time_in_words(scan.start, scan.complete), :comment => "(#{scan.start.strftime("%I:%M %p")} ... #{scan.complete.strftime("%I:%M %p")})") %>
	<%= field("infections count", :infections_count) %>

	<div id="accordion">
		<h3><a href="#">Infections</a></h3>
		<div>
<% for infection in scan.infections %>
			<div class="infection_file">
				<a href="file://<%= File.dirname(infection.file) %>" class="<%= hilite_new_infections(infection.file) %>"><span class="dirname"><%= File.dirname(infection.file) + File::SEPARATOR %></span><span class="basename"><%= File.basename(infection.file) %></span></a>
			</div>
			<div class="infection_desc"><%= infection.infection %></div>
<% end %>
		</div>
		<h3><a href="#">Scan Info</a></h3>
		<div>
			<%= field("directories scanned", :dirs_scanned) %>
			<%= field("files scanned", :files_scanned) %>
			<%= field("data scanned", :data_scanned, :view_helper => "number_to_human_size(?, :precision => 2)") %>
			<%= field("data read", :data_read, :view_helper => "number_to_human_size(?, :precision => 2)") %>
			<%= field("Excluded files", $config["excludes"].join(', ')) %>
		</div>
		<h3><a href="#">Virus Definitions</a></h3>
		<div>
			<%= field("known viruses", :known_viruses, :view_helper => "number_with_delimiter(?)") %>
			<%= field("engine version", :engine_version) %>
<% if freshclam_stdout.size > 0 || freshclam_stderr.size > 0 %>
			<div class="field_log">
				<div class="stderr"><%= freshclam_stderr %></div>
				<div class="stdout"><%= freshclam_stdout %></div>
			</div>
<% end %>
		</div>
		<h3><a href="#">Clamscan Log</a></h3>
		<div>
<pre class="log"><%= read_clamscan_logs_as_html %></pre>
		</div>
 	</div>
</body>
</html>
