<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>ClamAV Scan Report</title>
	<meta name="generator" content="clamav.rb">
	<meta name="author" content="Dan Lynn">
	<link rel="stylesheet" href="../views/css/clamav.css" type="text/css" media="screen" charset="utf-8">
	<link type="text/css" href="../views/css/smoothness/jquery-ui-1.7.2.custom.css" rel="stylesheet" />
	<script type="text/javascript" src="../views/js/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="../views/js/jquery-ui-1.7.2.custom.min.js"></script>
	<script type="text/javascript">
	$(function() {
		$("#accordion").accordion();
	});
	</script>
</head>
<body>
    <h1>Scan Report</h1>
	<div class="heading_date"><%= scan.complete.strftime("%a, %B %d %Y") %></div>
	
	<div class="line">
		<div class="label">scan directory:</div><div class="field"><%= scan.dir %></div>
	</div>
	<div class="line">
		<div class="label">duration:</div><div class="field"><%= distance_of_time_in_words(scan.start, scan.complete) %></div><div class="comment">(<%= scan.start.strftime("%I:%M %p") %> ... <%= scan.complete.strftime("%I:%M %p") %>)</div>
	</div>
	<div class="line">
		<div class="label">infections count:</div><div class="field"><%= scan.infections_count %></div>
	</div>

	<div id="accordion">
		<h3><a href="#">Infections</a></h3>
		<div>
			<p>
			Nothing yet...
			</p>
		</div>
		<h3><a href="#">Scan Info</a></h3>
		<div>
			<div class="line">
				<div class="label">directories scanned:</div><div class="field"><%= scan.dirs_scanned %></div>
			</div>
			<div class="line">
				<div class="label">files scanned:</div><div class="field"><%= scan.files_scanned %></div>
			</div>
			<div class="line">
				<div class="label">data scanned:</div><div class="field"><%= number_to_human_size(scan.data_scanned, :precision => 2) %></div>
			</div>
			<div class="line">
				<div class="label">data read:</div><div class="field"><%= number_to_human_size(scan.data_read, :precision => 2) %></div>
			</div>
		</div>
		<h3><a href="#">Virus Definitions</a></h3>
		<div>
			<div class="line">
				<div class="label">known viruses:</div><div class="field"><%= number_with_delimiter(scan.known_viruses) %></div>
			</div>
			<div class="line">
				<div class="label">engine version:</div><div class="field"><%= scan.engine_version %></div>
<% if freshclam_stdout.size > 0 || freshclam_stderr.size > 0 %>
				<div class="log">
					<div class="stderr"><%= freshclam_stderr %></div>
					<div class="stdout"><%= freshclam_stdout %></div>
				</div>
<% end %>
			</div>
		</div>
	</div>
</body>
</html>
